<!DOCTYPE html>
  <html>
    <head>
      <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <style>
      .nav-wrapper {
        background-color: rgb(38,166,154) !important;
        }
      h3 {
        font-family: Lucida Calligraphy;
        }
        body {
    background-image: url("static/home6.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-color:#000000 black;
      }
      </style>
    </head>
    <nav>
    <div class="nav-wrapper">
      <!-- Disable the logo part for now-->
    
   <!-- <a href="index.html" class="brand-logo left"><img class="circle responsive-img" id="logo" src="Bright-Events.jpg"/></a>-->
      <ul class="right hide-on-med-and-down">
        <li><a href='/brightEvents/api/v1/events'>View your Events</a></li>
        <li><a href='/brightEvents/api/v1/auth/reset_password'>Reset Password</a>
        <li><a href='/brightEvents/api/v1/auth/logout'>Logout</a>
     
 </ul>
    </div>
  </nav>

    <body>

        <div class="container">
            <div class="column">
            <form>
        <div class='card-panel teal lighten-2'><h4>Guests that have subscribed to your events</h4>
        </div>
        
                
	<!--A table to display the guests in a tabular manner-->   

<table class="card panel bordered" >
        <thead>
          <tr>
            <th>Event ID </th>
            <th>Event Title </th>
            <th>username </th>
            <th>email </th>
            <th>Message </th>
            
            
          </tr>
        </thead>

        <tbody>{% for guest in result %}
          
            <tr>
            <td>{{ guest.eventID }}</td>
            <td>{{ guest.eventName }}</td>
            <td>{{ guest.uname }}</td>
            <td>{{ guest.email }}</td>
            <td>{{ guest.reply }}</td>
            
          </tr>
          {% endfor %}
          
        </tbody>
      </table>

    <form>
        </div>

        <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
    </body>
  </html>
