<!DOCTYPE html>
  <html>
    <head>
        <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body background="home7.jpg">
        <div class="container valign center">
            <div class="column">
            <form action="/brightEvents/api/v1/auth/register" method="POST">
        <div class='card-panel teal lighten-2'><h4>Enter Your Registration Details</h4>
        </div>
        <div class="#ff3d00 deep-orange accent-3">
        {% for message in get_flashed_messages() %}
        {{ message|safe }}
        {% endfor %}
        </div>
                
	First Name<input type="text" name = 'fname' placeholder="Susan">
	Last Name<input type="text" name = 'lname' placeholder="Smith">
	User Name<input type="text" name = 'uname' placeholder="Sue">
	Email Address<input type="email" name = 'email'' placeholder="sue@outlook.com">
	Password<input type="password" name = 'pwd' placeholder="........">
	Confirm Password<input type="password" name = 'cpwd' placeholder="........">

    <button class="btn waves-effect waves-light" type="submit" name="submit">Register
    <i class="material-icons right">send</i>
    </button>
    <p>Already have an account? Login <a href='/brightEvents/api/v1/auth/login'>here</a></p>
    <form>
        </div>
        <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
    </body>

  </html>

